/*Header buttons & stuff*/
html {
    position: relative;
    min-height: 100%;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
    border-style: solid;
    border-width: medium;
    font-size: 15px;
    font-family: Hack, monospace;
}

li {
    float: left;
    border-right:5px solid #bbb;
}

li:last-child {
    border-right: none;
    border-left: 5px solid #bbb;
    background-color:rgb(136, 84, 36);
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover:not(.active) {
    background-color: #111;
}

.active {
    background-color: rgb(209, 152, 98);
}

/*page content*/

.welcome {
    float: right;
    width: auto;
    padding: 10px;
    border: 5px solid black;
    margin-top: 10px;
    background-color: white;
    font-family: Hack, monospace;
}

.wrapper {
    background-color: bisque;
    text-align: justify;
    max-width: 45%;
    padding-left: 5%;
    padding-right: 5%;
    padding-top: 2%;
    padding-bottom: 2%;
    margin: auto;
    margin-top: 1%;
    border-style: solid;
    border-width: medium;
    border-radius: 10%;

}

/*footer*/
.footer {
    margin:auto;
    position: absolute;
    bottom: 0;
    background-color: brown;
    width: 99%;
    border-style: solid;
    border-width: medium;
    overflow: hidden;
    margin-bottom: 1%;
}

/*LOGIN REGISTER STUFF*/
body {
    font-family:Hack, monospace;
    font-size:14px;
}
label {
    font-weight:bold;
    width:100px;
    font-size:20px;
}

.loginRegisterBox {
    font-size: 20px;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: bisque;
    max-width: fit-content;
    border-style: solid;
    border-width: medium;
    border-radius: 3%;
}

.box {
    border:#666666 solid 1px;
    width: 200px;
}
.row {
    position: absolute;
    margin: auto;
    top: 50%;
    left: 50%;
    margin-top: -150px;
    margin-left: -300px;
}
.column {
    margin-right: 50px;
    width: 50%;
    display: inline-block;
}

.scoreboard {
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

.scoreboard td, .scoreboard th {
    border: 1px solid black;
    padding: 8px;
}

.scoreboard tr:nth-child(even){background-color: #f2f2f2;}

.scoreboard tr:hover {background-color: #ddd;}

.scoreboard th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: brown;
    color: white;
}

/*Round images*/
.rounded {
    border-style: solid;
    border-width: 1px;
    border-radius: 50%;
    width: 10%;
}