Options +FollowSymLinks

RewriteEngine On

RewriteRule ^api/rules api/rules/read.php [NC]

RewriteRule ^api/scoreboard api/scoreboard/read.php [NC]

RewriteRule ^api/marvel api/marvel/read.php [NC]

RewriteRule ^api/users/$ api/users/read.php [NC]

RewriteRule ^api/users/([0-9]+) api/users/readOne.php?id=$1 [NC]

RewriteRule ^home index.php [NC]

RewriteRule ^scoreboard index.php?action=scoreboard [NC]

RewriteRule ^howto index.php?action=howto [NC]

RewriteRule ^about index.php?action=about [NC]

RewriteRule ^game index.php?action=game [NC]

RewriteRule ^login index.php?action=login [NC]

RewriteRule ^register index.php?action=register [NC,L]